.div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.preloader {
    color: rgb(184, 41, 41);
    width: 70px;
    height: 70px;
    border: 10px solid #a82828;
    border-top: 10px solid #bd8383;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }